# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore macOS system files
.DS_Store

# Ignore virtual environment directories
venv/
env/

# Ignore logs and temporary files
*.log
*.tmp

# Ignore build directories
build/
dist/
